:root{
    --bg:#0e0f13;
    --text:#e5e7eb;
    --text2: black;
    --accent:red;
    --border: white;
    --border2: #374151;
    --spacing: 2rem;
  }

/* RESET Y ESTILOS GENERALES */
  body {
  box-sizing:border-box;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

header,
main,
footer {
  padding: var(--spacing);
}

/* 1. HEADER */

.header_logo {width:400px; height: auto;} /* Tamaño logo */

/* Buscador */
.search_form {
  display: flex;
  gap:10px;
  max-width: 500px;         /* ancho máximo del bloque */
}

.search_input {
  flex: 1;                  /* ocupa todo el ancho disponible */
  padding: 0.75rem 1rem;    /* más alto */
  border: 1px solid var(--border2);
  color: var(--text2);
}

.header_title {
  margin:0;
}

.header_subtitle {
 margin-top: 0;
}

/* 2. MAIN */

/* 1 columna en móvil */
.main_content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  align-items: start;
  max-width: 1200px;
}

/* Estilo de tarjetas */
.catalog_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr; 
}

.catalog_list img {
  width: 100%;
 height:auto
}


/* Estilo de elementos en el carrito */
.cart_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr; 
  align-items: center;
  gap: 10px;
}

.cart-item-img {
  width: 50%;
  height:auto

}

.remove-btn {
  width: 50%
}

/* Cambio de estilos del botón cuando el producto está en el carrito */
.product-card-add-btn.is-in-cart {
  background-color: var(--accent); /* rojo */
  color: var (--text);            /* texto blanco */
}

/* 3. FOOTER */

.footer_content {
  border-top: solid 1px var(--border);
}

/* MEDIA QUERIES */ /* pendiente corregir estilo responsive */
  

/* tablet/pc: 2 columnas*/
@media (min-width: 768px) {
  .main_content {
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }

  .catalog_list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.catalog_list img {
  width: 100%;
  height: 400px; 

}
}

@media (min-width: 1200px) {
  .catalog_list img {
  width: 100%;
  height: 500px; 
}
}

