:root{
    --bg:#0e0f13;
    --text:#e5e7eb;
    --accent:red;
    --spacing: 2rem;
  }

/* RESET Y ESTILOS GENERALES */
  body {
  box-sizing:border-box;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

header,
main,
footer {
  padding: var(--spacing);
}

/* 1. HEADER */

.header_logo {width:400px; height: auto;} /* Tamaño logo */

/* 2. MAIN */

/* 1 columna en móvil */
.main_content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  align-items: start;
  max-width: 1200px;
}

/* Estilo de tarjetas */
.catalog_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr; 
}

.catalog_list img {
  width: 100%;
  height: 300px; 
}

.cart-item-img {
  width: 100%;
  height: 300px; 
}


/* 3. FOOTER */



/* MEDIA QUERIES */

/* tablet/pc: 2 columnas*/
@media (min-width: 768px) {
  .main_content {
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }

  .catalog_list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.catalog_list img {
  width: 100%;
  height: 400px; /* pendiente corregir estilo responsive
   */

}

}

@media (min-width: 1200px) {
  .catalog_list img {
  width: 100%;
  height: 500px; /* pendiente corregir estilo responsive */
}

}

